.LogoSearch{
    display: flex;
    gap: 0.75rem;
}
.Search{
    display: flex;
    background-color: var(--inputColor);
    padding: 5px;
    border-radius: 10px;
}
.Search>input{
    border: none;
    outline: none;
    background-color: transparent;
}
.s-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    padding: 4px;
    border-radius: 5px;
    background: linear-gradient(106.23deg, #f99827, #f95f35 100%);
}
.s-icon>:hover{
    cursor: pointer;
}